# Logs
logs
*.log
npm-debug.log
yarn-debug.log
yarn.error.log

#Runtime Date
pids
*.pid
*.seed
.pid.loc

# dotenv environment variables file
.env

# IDE
.idea/
.vscode/

# Dependency directories
node_modules/
jsmp_packages/

#yarn v2
.yarn/cache
./yarn/unplugged
./yarn/build-state.yml
./yarn/install-state.gz
.pnp.*